footer{
    display: flex;  
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;  
    background-color: $black;
    color: $white;    
    bottom: 0;
   }
.ancla a{
    text-decoration: none;
    color: $white;
    padding: 10px;
}
.ancla a:hover{
    color: $blue;
}

