@import 'core/variables';
@import 'core/reset';
@import 'layout/header';
@import 'layout/footer';

html{
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    font-size: 62.5%;
    }

.main{
    height: 100vh;    
}

.boxone{
    display: flex;
    flex-direction: column;
    justify-content: left;
    background-color: $blue;     
    height: 40vh;
    color: $white; 
    padding: $paddingten;   
    font-family: Roboto;
    font-size: 2rem; 
    line-height: 1.3;
    row-gap: 3px;
   }
.boxbig {
    @media (min-width: 526px) {
        width: 50%;   

    }

}
.plan{
    background-color: $green;  
    color: $white;
    width: 150px;
    height: 30px;
    font-weight: bold;
}
// .boxtwo{
//     display: flex;
//     flex-direction: column; 
//     height: 60vh;
//     align-items: center;
//     justify-content: space-around;
//     background-color: pink;
// }

.box-purple{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.minipic{
    width: 80px;
}
.flag {
    width: 20px;
}
.box-blue {
    height: 100px;
}
